
#banner-image
{
padding-top: 75px;
padding-bottom: 200px;
padding-left: 200px;
padding-right:200px
 text-align: center;
 color: #f8f8f8;
 background: url(4.jpg) no-repeat center center;
 background-size: cover 
}
/* .carousel-inner */
/* { */
	/* height:auto; */
	/* width:1024; */
	/* height:768; */
/* } */
.carousel-inner > .item {
   height: 710px;
   width:
   
}

footer
{
	 padding: 10px 0;
 background-color: #101010;
 color:#9d9d9d;
 bottom: 0;
 width: 100%;
 position:fixed;
}